@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Open+Sans&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto+Mono&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 870px;
    /* height: 679px; */
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    padding-top: 10px;
    margin-top: 21px;
}
.section-title{
    font-size: 24px;
    color: #562EFF;
    padding-left: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    padding-left: 16px;
}
.player img{
    height: 56px;
    width: 56px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/* Another section design */

.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blogs{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-details{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
    
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}

